@page "/console"
<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
            <MatButton OnClick="ShowMenu">
                <MatH5>Action Menu</MatH5>
            </MatButton>
            <MatButton OnClick="HandleCodeSubmit" Raised="true">Execute Project</MatButton>
        </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-7">
            @if (isCodeCompiling)
            {
                <hr />
                <MatH4 Class="text-center" Style="color: blue">Executing...</MatH4>
                <SpinKitFadingCircle />
                <hr />
            }
            <MatTabBar ActiveChanged="HandleTabFileChange">
                @foreach (var file in AppState.ProjectFiles ?? new List<ProjectFile>())
                {

                    <MatTabLabel Id="@file.Name">
                        @file.Name
                    </MatTabLabel>
                }
            </MatTabBar>
            <Editor ButtonLabel="Save to project" CodeSnippet="@AppState.CodeSnippet" Language="@AppState.Language" OnCodeSubmit="HandleSave" OnSave="HandleSave" />
        </div>
        <div id="user-console-window-container" class="mat-layout-grid-cell mat-layout-grid-cell-span-5">
            <pre>@AppState.CurrentOutput</pre>
        </div>
    </div>
</div>